.tag_container .bootstrap-tagsinput {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: none;

    border-radius: 0;
    padding-bottom: 2px;
    padding-left: 0;
    padding-right: 0;

}

.tag_container .bootstrap-tagsinput input {
    flex-grow: 1;
    padding: 0;
}
.tag_container .label {
    background-color: transparent;
    color: #666666 !important;
    border: 1px solid #666666;
}

.tag_container .bootstrap-tagsinput span {
    flex-grow: 0;
    margin-bottom: 2px;
    border-radius: 0;
    line-height: normal;
    font-size: 75%;
    font-weight: normal;
    padding-right: 0;
}
.tag_container .bootstrap-tagsinput .tag [data-role="remove"]{
    margin-left: 0;
    padding-left: 8px;
    padding-right: 6px;
}
.tag_container{
    position: relative;
    width: 100%;
}
.tag_container ::-webkit-scrollbar{
    width: 0;
}

.tag_container .tip {
    max-height: 200px;
    overflow-y: scroll;
    position: absolute;
    color: white;
    z-index: 1000;
    width: 100%;
    padding: 0 6px 0 6px;
    background: white;
    box-shadow: 2px 2px 2px #888888;
}

.tag_container .dataitem {
    padding: 2px;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #E9E9E9;
    color: #0a001f;
    outline: none;

}

.tag_container .dataitem:hover, .tag_container .dataitem:focus {
    color: white;
    background: #0d6efd;
    cursor: pointer;

}